body{
    font-family: 'Lobster', cursive;
    ;
}
h{
    
    font-size: 32px;
    color:red;
    padding: 700px ;
    font-weight: 500;
}
.margin{
    /* border: 2px solid black; */
    width:150px;
    margin-left: 600px;

}